.padUp {
  padding-top: 10em;
  padding-bottom: 3em;
}
.nav-link {
  color: #fafafa;
}

.navbar-brand {
  color: #fafafa;
}

.hidden.menu {
  display: none;
}

@media (max-width: 800px) and (min-width: 200px) {
  .landing-image {
    /*
    background-image: url('../containers/Landing/mobile2.jpg') !important;
    */
    background-size: cover !important;
  }
}

@media (max-width: 1800px) and (min-width: 800px) {
  .landing-image {
    /*
    background-image: url('../containers/Landing/male-mechanic.jpg') !important;
    */
    background-size: cover !important;
  }
}

.masthead h2:first-child {
  margin-top: 7em;
}

a.ui.orange.huge.circular.button {
  margin-top: 1.5em;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
div.ui.vertical.segment.padSegment {
  padding-top: 2em;
  padding-bottom: 5em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer.segment {
  padding: 5em 0em;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
@media only screen and (max-width: 100px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.soft-gray-h2 {
  color: #4A5155;
  font-weight: 500;
}

/* mechanic jobs page*/
.mechanic-job-image {
  background-image: url('../containers/MechanicJobs/welding-mechanic.jpg') !important;
  background-size: cover !important;
}
a.ui.orange.huge.circular.button.mechanicMarginUp {
  margin-top: 1em;
  width: 260px;
  font-size: 1.9em;
}

h2.whyMechanicHeader {
  font-size: 2.5em;
}

div.center.aligned.row.mechanicPadTop {
  padding-top: 2.5em;
}


/*
vertically centering labels of quotecart
 */

.ui.centered.grid>.column:not(.aligned):not(.justified):not(.row), .ui.centered.grid>.row>.column:not(.aligned):not(.justified), .ui.grid .centered.row>.column:not(.aligned):not(.justified) {
  text-align: center;
}
/*
event styles of react-big-calendar
 */


.rbc-calendar {
  height: 600px;
}

.category-unavailable {
  background-color: lightgray;
}

.category-unavailable.rbc-selected {
  background-color: lightgray;
}

.category-appointment {
  background-color: #ffa500;
}

.category-appointment.rbc-selected {
  background-color: #00b5ad;

}

.rbc-day-slot .rbc-event {
  border: 1px solid white;
}

span.rbc-btn-group {
  font-size: 12px;
}

.rbc-addons-dnd .rbc-row-content {
  pointer-events: none;
}
.rbc-addons-dnd .rbc-row-content .rbc-show-more,
.rbc-addons-dnd .rbc-row-content .rbc-event:not(.rbc-addons-dnd-dragging) {
  pointer-events: all;
}
.rbc-addons-dnd .rbc-addons-dnd-over {
  background-color: rgba(0, 0, 0, 0.3);
}
.rbc-addons-dnd .rbc-event {
  transition: opacity 250ms;
  pointer-events: all;
}
.rbc-addons-dnd .rbc-addons-dnd-is-dragging .rbc-event {
  pointer-events: none;
  opacity: .35;
}
.rbc-addons-dnd .rbc-addons-dnd-dragging {
  pointer-events: none;
  opacity: .35;
}

/*
appointment calendar message styling
 */

.calendarGeosuggestMargin {
  margin: 0.5em;
}

.phoneNumberMarginBottom {
  margin-bottom: 0.5em;
}

.payTextMarginBottom {
  margin-bottom: 0.5em;
}

.ui.large.button.calendarButtonMarginTop {
  margin-top: 1em;
}

/*
dashboard
 */

.ui.segment[class*="top attached"]:first-child {
  margin-top: 2em;
}

/*
signup form
 */

